.jimnasians-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
    padding: 0px 50px ;
    margin-top: 10px;
    
}
.jimnasian{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    position: relative;
    
}
.store-container{
    background-color: antiquewhite;
    padding: 10px;
    align-items: center;
    justify-content: center;
   height: 100%;
}
@media  screen and (max-width: 600px ) {
      .jimnasian{
        display: grid;
       grid-template-columns: 1fr;
      
       
      }

}

@media screen and (max-width:1100px) {
    .jimnasian{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        gap: 10px;
        height: 150px;
        width: 200px;
    }
}